/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2020, 09:13:21 PM
    Author     : diego.ramirez
*/
*{
    font-size: 14px !important;
}
html{
    height: 100%;
}
body{

    background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,92,191,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,92,191,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,92,191,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,92,191,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,92,191,1) 100%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(0,92,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#005cbf', GradientType=1 );

    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    height: 15%;
    align-items:  center;
    justify-content: center;
}

.footer{
    bottom: 5px;
    left:10px;
    position: fixed;
    color: white;
    font-weight: bold;
}

.container-menu{
    height: 94%;
}

.ui-dialog-content > .ui-icon {
    display: none;
}

label, input{
    box-shadow: none!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    border-color: #acacbe!important;

}
input {
    color: #3b3b42!important;
}


.r2da-lbl{
    font-weight: bold !important;
    color: #000!important;
    margin: 0px !important;
}



.ui-state-default{
    background: none!important;
}

.ui-radiobutton .ui-radiobutton-box {
    margin-top: 5px;
    border-color: #1A73CE;
}

.ui-grid-col-4 label {
    width: 92%!important;
}

.rd2a-header{
    background-color: #cdcdd3;
    font-weight: bold;
    padding-top: 3px;
    text-align: left;
    color: #000!important;
}

.r2da-pnl-grid{
    border:0px none; background-color:transparent;width: 80%; 
    margin-left: 10%;
}
.r2da-icon-times{
    position: absolute;
    z-index: 5;
    margin-left: 48%;
    width: 15px;
    color: #007bff;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 2px
}

.ui-panelgrid-cell{
    padding: 0px  !important
}



.form-control:focus {
    outline: none !important;
    border:2px solid #007BFF !important;
    color: #000!important;
}
label .ui-corner-all{
    border-radius: 4px!important;
}

.rd2a-slc-on-menu{
    padding:0!important; 
    width: 100%!important;
    border-radius: 4px!important;
    border-color: #acacbe!important;
}

footer{
    display: flex;
    height: 6%;
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    align-items: center;

}

.dlg-Map{
    font-size: 0.9rem; background:#ffffff; 
    border-radius: .3rem; 
    width: 50%!important;
}
.dlg-info-result{
    width: 35%!important;
    font-size: 0.9rem!important; border-radius: .3rem!important;
}

.ui-widget-header{
    background: #fff;
    border-bottom: 1px solid #dee2e6!important;

}


.img-carousel{
    height:  580px!important;
    width: 100% !important;
}

.ui-autocomplete-input{
    border-radius: 3px;
    width: 90%;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
}

.ui-autocomplete-dropdown{
    background: #F0F0F0;
}

.circulo-exacta {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00cc00;
    margin: 4px;
}


.circulo-aproximada {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff0033;
    margin: 4px;
}


.contenedor{
    width: 100%;
    background: #ffffff;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem; border-color: #b8daff;  margin-right:auto; margin-left: auto;
}

.contenedor-menu{
    width: 100%;
    background: #ffffff;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem; border-color: #b8daff;  margin-right:auto; margin-left: auto;
}


.contenedor-global{
    width: 80%;
    margin-right:auto; margin-left: auto;
}

.contenedor-global-menu{
    width: 80%;
    margin-right:auto; margin-left: auto;
}

#messages .ui-corner-all{
    border-radius: 4px;
}

.btn-one-button > .ui-button{
    background: #dadada !important;
    color: #333!important;
    font-size: 0.9rem!important;
    border: 0px;
    font-weight: normal!important;
    padding: 0.2rem 0.2rem !important;
}

.btn-one-button > .ui-button:hover {
    background: #cccccc !important;
    color: #333!important;
    font-size: 0.9rem!important;
    border: 0px;
    font-weight: normal!important;
    padding: 0.2rem 0.2rem !important;
}

.btn-one-button > .ui-state-active {
    background: #007bff !important;
    color: #fff!important;
    font-size: 0.9rem!important;
    border: 0px;
    font-weight: normal!important;
    padding: 0.2rem 0.2rem !important;
}

.btn-one-button > .ui-corner-left {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-one-button > .ui-corner-right {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-one-button > .ui-state-active:hover {
    background: #0056b3 !important;
    color: #fff!important;
    font-size: 0.9rem!important;
    border: 0px;
    font-weight: normal!important;
    padding: 0.2rem 0.2rem !important;
}

.btn-buscar{
    padding: 0rem 0rem!important;
    font-weight: normal!important;
    background: #007bff ; 
    border-color: #007bff;
}

.btn-buscar  .btn-primary:hover{
    background: #0056b3 !important;
}

.ui-messages-info-icon{
    background-image: url("../imagenes/info.png")!important;
    background-size:contain!important;
    background-position:center!important;
    margin-top: -1px !important;
} 

.ui-messages-error-icon{
    background-image: url("../imagenes/danger.png")!important;
    background-size:contain!important;
    background-position:center!important;
    margin-top: -1px !important;
}

.ui-messages-fatal-icon{
    background-image: url("../imagenes/danger.png")!important;
    background-size:contain!important;
    background-position:center!important;
    margin-top: -1px !important;
}

.ui-messages-warn-icon{
    background-image: url("../imagenes/warning.png")!important;
    background-size:contain!important;
    background-position:center!important;
    margin-top: -1px !important;
}

.ui-messages-fatal-icon-times{
    background-image: url("../imagenes/danger1.png")!important;
    background-size:contain!important;
    background-position:center!important;
    margin-top: -1px !important;
}

.btn-info{
    padding: 0.1rem 0.1rem !important;
    font-weight: normal!important;
    background: #007bff !important;
    border-color: #007bff!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-size: 1rem!important;
    margin: 5px 0px 3px 5px!important;
}

.btn-menu{
    /*    padding: 0.1rem 0.1rem !important;*/
    font-weight: normal!important;
    background: #007bff !important;
    border-radius: 5px!important;
    box-shadow: 5px 10px #CCCCFF;
    color: #fff!important;
    font-size: 1rem!important;
    width: 270px!important;
    height: 200px;
    margin: 20px!important;
    font-weight: bold !important;
}

.btn-green{
    background: #00d76e !important;
    border-color: #00d76e!important;
}
.btn-blue{
    background: #007bff !important;
    border-color: #007bff!important;
}
.btn-red{
    background: #ff0033 !important;
    border-color: #ff0033!important;
}

.btn-menu:hover{
    /*    padding: 0.1rem 0.1rem !important;*/
    opacity: 0.5!important;
}



.btn-info:hover {
    padding: 0.1rem 0.1rem !important;
    font-weight: normal!important;
    background: #0056b3 !important;
    border-color: #0056b3!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-size: 1rem!important;
    margin: 5px 0px 3px 5px!important;
}

.btn-success{
    padding: 0.1rem 0.1rem !important;
    font-weight: normal!important;
    background: #00d76e !important;
    border-color: #00d76e!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-size: 1rem!important;
    margin: 5px 0px 3px 5px!important;
}


.btn-danger{
    padding: 0.1rem 0.1rem !important;
    font-weight: normal!important;
    background: #ff0033 !important;
    border-color: #ff0033!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-size: 1rem!important;
    margin: 5px 0px 3px 5px!important;
}

.btn-warning{
    padding: 0.1rem 0.1rem !important;
    font-weight: normal!important;
    background: #ffbc13 !important;
    border-color: #ffbc13!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-size: 1rem!important;
    margin: 5px 0px 3px 5px!important;
}



.header-warning .ui-widget-header{
    color: white;
    font-size: 13px;
    background: #ffbc13;
}
.header-danger .ui-widget-header{
    color: white;
    font-size: 13px;
    background: #ff0033;
}
.header-info .ui-widget-header{
    color: white;
    font-size: 13px;
    background: #007bff;
}

.header-success .ui-widget-header{
    color: white;
    font-size: 13px;
    background: #00d76e;
}

.ui-selectonemenu.ui-state-hover, .ui-selectonemenu.ui-state-default{
    border: 1px solid #acacbe !important;
    background: #e9ecef !important;
}

.ui-selectonemenu-filter-container{
    width:100%;
}

.ui-selectonemenu label{
    padding: 6px;  
    color: #606367;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
    width: 29px !important;
}



/* Interaction states----------------------------------*/
.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default {
    border: 1px solid #acacbe !important;
    background: #e9ecef !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-hover{
    border: 1px solid #acacbe !important;
    background: #e9ecef !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-active {
    border: 1px solid #acacbe !important;
    background: #e9ecef !important;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    color: #bb2929!important;
}

.formulario__input-error-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d!important;
    opacity: 1!important;
}

.formulario__grupo-incorrecto .r2da-lbl {
    color: #bb2929!important;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929!important;
    opacity: 1!important;
}

.formulario__grupo-incorrecto .form-control {
    border: 3px solid #bb2929 !important;
}

.ui-dialog-content{
    padding: 0!important;
}

.alert-success{
    background: #00d76e; padding: 0.5rem 0.5rem; border: 0px; color: white;font-size: 1rem;

}

.alert-warning{
    background:#ffbc13;padding: 0.5rem 0.5rem; border: 0px; color: white;font-size: 1rem;
}

.alert-danger{
    background:#ff0033;padding: 0.5rem 0.5rem; border: 0px; color: white;font-size: 1rem;
}
.alert-info{
    background:#007bff; padding: 0.5rem 0.5rem; border: 0px; color: white;font-size: 1rem;
}

.r2d-one-radio .ui-radiobutton .ui-radiobutton-box{
    border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
}

.r2d-one-radio  .ui-state-active{
    background: #1A73CE!important;
}

.r2d-one-radio .ui-state-active .ui-icon {
    background-image: url("/SantaClaraConsentimiento/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-bluesky");
}

.ui-icon-cross{
    background-image: url("/SantaClaraConsentimiento/javax.faces.resource/images/ui-icons_3d80b3_256x240.png?ln=primefaces-bluesky")!important;
    background-position: -96px -126px;
}

.hidden{
    display:none!important;
}

.r2d-one-radio .ui-icon-bullet {
    background-position: -66px -144px!important;
    color: #fff!important;
    font-size: 10px!important;

}

/*.r2d-chips .ui-state-active .ui-icon{
    background-image: url("/SantaClaraConsentimiento/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-bluesky");
}*/

.btn-atras{
    position: fixed!important;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%!important;
    border: 1px solid #fff!important;
    background-color: #1ed12d!important;

}

.btn-atras:hover{
    opacity: 0.8!important;
}

.btn-atras:after {
    margin-left: 6px;
    background-image: url("/SantaClaraConsentimiento/resources/imagenes/arrow-left1.png");
    background-size: 13px 20px;
    display: inline-block;
    width: 10px;
    height: 20px;
    content: "";
    margin-top: 3px;
}

.ui-datatable thead th{
    background-color: #007BFF!important;
    border-color:#007BFF!important;
    color: #fff !important;
}

.ui-datatable .ui-state-highlight{
    background: #fff!important;
    border-color:#007BFF!important;
}

.ui-chips-token{
    background: #DAE3FF!important;
    border-color: #DAE3FF!important;
    border-radius: 6%!important;
    color: #006699!important;
    font-weight: normal!important;
}
@media screen and (min-width:640px) and (max-width:1024px){
    
    .header-info .ui-dialog{
        width: 100%;
        margin: 0;
    }
    .contenedor,.contenedor-global{
        width: 90%;
    }
    .container-menu{
        max-width: 100%;
    }
    .contenedor-menu,.contenedor-global-menu{
        width: 100%;
    }

    .r2da-pnl-grid{
        border:0px none; background-color:transparent;width: 100%; 
        margin-left: 0;
    }
    .img-carousel{
        height:  500px!important;
        width: 100% !important;
    }
    .dlg-Map{
        width: 90%!important;
    }
    .dlg-info-result{
        width: 70%!important;
        font-size: 0.9rem!important; border-radius: .3rem!important;
    }
    .r2da-icon-times{
        position: absolute;
        z-index: 5;
        margin-left: 83%;
        width: 15px;
        color: #007bff;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        margin-top: 2px
    }
    .btn{
        width: 100%;
        height: 50px;
        margin: 0;
    }
    .r2da-pnl-grid{
        border:0px none; background-color:transparent;width: 100%; 
        margin-left: 0;
    }

    .btn-menu{
        /*    padding: 0.1rem 0.1rem !important;*/

        width: 200px!important;

    }
}

@media screen and (min-width:480px) and (max-width:640px) {
    .btn-menu{
        width: 270px!important;
    }
    .header-info .ui-dialog{
        width: 100%;
        margin: 0;
    }
    .r2da-pnl-grid{
        border:0px none; background-color:transparent;width: 100%; 
        margin-left: 0;
    }
    .container{
        max-width: 100%;
    }
    .contenedor,.contenedor-global,.contenedor-global-menu,.contenedor-menu{
        width: 100%;
    }

    .img-carousel{
        height:  480px!important;
        width: 100% !important;
    }
    .dlg-Map{
        width: 100%!important;
    }
    .dlg-info-result{
        width: 80%!important;
        font-size: 0.9rem!important; border-radius: .3rem!important;
    }
    .r2da-icon-times{
        position: absolute;
        z-index: 5;
        margin-left: 83%;
        width: 15px;
        color: #007bff;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        margin-top: 2px
    }
    .btn{
        width: 100%;
        height: 50px;
        margin: 0;
    }
    .r2da-pnl-grid{
        border:0px none; background-color:transparent;width: 100%; 
        margin-left: 0;
    }
}

@media screen and (max-width:480px) {
    .header-info .ui-dialog{
        width: 100%;
        margin: 0;
    }
    header h2{
        font-size: 20px!important;
    }
    header{
        height: 10%;
    }
    .container,.container-menu{
        max-width: 100%;
    }
    .contenedor,.contenedor-global,.contenedor-menu,.contenedor-global-menu{
        width: 100%;
        margin: 0;
    }
    .r2da-pnl-grid{
        border:0px none; background-color:transparent;width: 100%; 
        margin-left: 0;
    }
    .container{
        padding: 0;
    }
    .grp-referencia {
        display: block;
    }
    .input-autocomplete{
        width: 100%!important;
        margin-bottom: 1rem!important;
    }

    .input-autocomplete > .ui-autocomplete-dropdown{
        right:inherit!important;
        margin-left: auto!important;
    }
    .input-buscar{
        width: 100%;
    }

    .btn-buscar{
        width: 100%;
        margin-top: 0.5em;
        height: 40px;
        border-top-left-radius: 0.25rem!important;
        border-bottom-left-radius: 0.25rem!important;
    }

    .btn-confirmar{
        width: 100%!important;
    }
    .img-carousel{
        height:  50%!important;
        width: 100% !important;
    }
    .dlg-Map{
        width: 100%!important;
    }
    .dlg-info-result{
        width: 100%!important;
        font-size: 0.9rem!important; border-radius: .3rem!important;
    }
    .r2da-icon-times{
        position: absolute;
        z-index: 5;
        margin-left: 83%;
        width: 15px;
        color: #007bff;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        margin-top: 2px
    }
    .btn{
        width: 100%;
        height: 50px;
        margin: 0;
    }
}